@model IEnumerable<MovieApplication.Models.Customer>
@{
    ViewBag.Title = "Sphelele Mendu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("New Customer", "NewCustomer", "Customers", null, null)
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><h3>Customers</h3></th>
            <th><h3>Membership Type</h3></th>
            <th><h3>Delete</h3></th>
        </tr>

    </thead>
    <tbody>
    </tbody>

</table>
@section scripts

{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#customers").on("click", ".js-delete", function () {
                var butttons = $(this);
                bootbox.confirm("Are you sure you want to delete this customer", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + butttons.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                //table.row(button.parents("tr")).remove().draw();
                                butttons.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}